.btn {
  padding: 14px 64px 16px 48px;
  border-radius: 10px;
  background-color: #00dbd0;
  color: #fff;
  border: none;

  &--subscribe {
    padding: 21px 45.5px 24px;
    border-radius: 30px;
  }
}
