.header {
  background-image: linear-gradient(
    to bottom,
    #f1fefe,
    rgba(241, 254, 254, 0.2)
  );
  position: relative;

  &::after {
    content: "";
    // width: 100%;
    // height: 100%;
    width: 419px;
    height: 570px;
    background: url("../../asset/Group 195.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 33%;
    left: 41%;
    display: inline-block;
    z-index: 10;

    animation: moveInFromRight 1.5s;

    @include respond(big-desktop) {
      top: 38%;
      left: 53%;
    }

    @include respond(tab-land) {
      top: 39%;
      left: 39%;
    }

    @include respond(tab-port) {
      width: 320px;
      height: 450px;
      background-size: contain;
      top: 47%;
      left: 48%;
    }
  }

  &__main {
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__heroSection {
    // height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    & > .heading-primary {
      padding-bottom: 2rem;
    }

    & > .paragraph {
      font-size: 20px;
      line-height: 1.35;
      width: 24.3rem;
      padding-bottom: 2rem;
    }

    & > .btn {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.33;
      text-align: left;
      color: #ffffff;

      animation: moveInFromBottom 1.5s;
    }
  }

  &__heroImage {
    width: 395px;
    height: 386px;
    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

    &--img {
      width: 350px;
      height: 340px;
      padding: 64.5px 65.3px 65px 66px;
      border: solid 3px #00dbd0;
    }
  }
}
